html, body{
    max-width: 100%;
    margin: 0 auto;
}

body{
    overflow-x: hidden;
}

*{
    box-sizing: border-box;
}

#strip-oyen{
    height: 2vh;
    width: 100vw;
    background-color: #EE7738;
}

#abu-mini{
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: #2C3D4F;
    width: 100%;
    min-height: 16vh;
    padding: 1.5vh 5vw;
}

header{
    position: sticky;
    top: 0;
    font-family: "Jacques Francois", serif;
}

h1{
    font-family: "Jacques Francois", serif;
    font-style: normal;
    text-align: center;
    font-weight: 400;
    color: #FFFFFF;
    margin: 0;
    letter-spacing: 0.25em;
}

.flex{
    display: flex;
}

.flex > .fifty{
    width: 50vw;
    height: 98vh;
}

#login input{
    margin-bottom: 2vh;
}

#logo-large{
    background-color: #ffffff;
    width: fit-content;
    padding: 4%;
    border-radius: 100%;
    justify-self: center;
}

#logo-large img{
    width: 18vw;
    height: 18vw;
    object-fit: contain;
}

#abu{
    position: relative;
    place-content: center;
    text-align: center;
    background-image: url('../assets/rawr.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto;
    background-color: #2C3D4F;
}

#abu h1{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 4%;
}

#putih{
    text-align: center;
    align-content: center;
}

#putih h1{
    color: #EE7738;
    font-size: 2em;
    margin: 0;
    font-weight: bold;
    font-family: "Inter", serif;
}

#putih form{
    width: 70%;
}

form{
    width: 50%;
    justify-self: center;
    display: grid;
}

form label{
    justify-self: start;
}

form a{
    justify-self: self-end;
    font-size: smaller;
    margin: 1.5rem 0px 1rem;
}

form a:hover{
    color: #EE7738;
    cursor: pointer;
}

form input, select{
    padding: 7px 1vw;
}

#submit{
    padding: 1.1rem 0px;
    font-weight: bold;
    background-color: #F59D2A;
    color: white;
    border: none;
    border-radius: 5px;
}

#submit:hover{
    background-color: #EE7738;
    cursor: pointer;
}

#logo{
    margin-right: 1rem;
    background-color: #FFFFFF;
    width: min-content;
    border-radius: 100%;
    padding: 12px;
}

#logo img{;
    width: 30px;
    height: auto;
}

.logos{
    color: #FFFFFF;
    display: flex;
    align-items: center;
}

article{
    padding: 1rem 5vw;
}

table{
    margin-top: 1.5rem;
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
}

table, tr, td, th{
    border: 1px solid rgb(152, 152, 152);
}

table td, table th{
    padding: 13px 1rem;
}

.content p{
    font-family: "Jacques Francois", serif;
    margin: 0.5rem;
}

#input-data input, #input-data select{
    margin-bottom: 1rem;
}

#input-data #submit{
    margin-top: 2rem;
}

#input-data{
    font-family: "Poppins", serif;
}


.side-nav{
    font-family: "Poppins", serif;
    position: sticky;
    top: 18vh;
    width: 32vw;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgba(58, 75, 107, 0.69);
    height: 82vh;
    background-color:rgb(255, 249, 239);
}

.side-nav a{
    color:rgb(213, 102, 42);
    padding: 0.5rem;
}

.side-nav div{
    padding: 1rem;
    border-radius: 8px;
}

.side-nav img{
    width: 20px;
    height: auto;
}

.side-nav div:hover{
    cursor: pointer;
    background-color: rgb(250, 236, 210);
}

.output{
    margin: 1vh 5vw;
    width: 100%;
}

h2{
    font-family: "Poppins", serif;
    color: #34495D;
    font-size: 22px;
}

.square{
    margin-right: 1vw;
    border-radius: 5px;
    padding: 0.5rem 1.5vw;
    border: 1px solid #EE7738;
    background-image: linear-gradient(#ffecd4a8,rgba(255, 225, 225, 0.52));
}

.square p, h3{
    margin: 10px 0;
}

.square p{
    color:rgb(68, 80, 129);
    font-weight: bold;
}

.square h3{
    font-family: "Poppins", serif;
    font-size: 16px;
    font-weight: 500;
    color: #EE7738;
}

.squares{
    display: grid;
    grid-auto-flow: column;
}

#pencilan{
    max-width: 60%;
}

#standar-deviasi{
    max-width: 30%;
}

#search-bar{
    border: 1px solid;
    display: flex;
    width: fit-content;
    border-radius: 9999px;
    padding: 1vh 0.5rem;
}

#search-bar input, #search-bar button{
    border: none;
    outline: none;
    border-radius: 9999px;
    background-color: transparent;
}

#search-bar img{
    height: auto;
    width: 3.5vh;
}

#search-bar input{
    padding-left: 0.5vw;
    width: 30vw;
}

.table{
    margin-top: 2rem;
    padding-top: 2rem;
    width: 100%;
    max-width: 100%;
}

.table .flex{
    justify-content: space-between;
    align-items: center;
}

.table .option-btn{
    padding: 1.5vh 1.5rem;
    background-color: #34495D;
    color: white;
    border: none;
    border-radius: 3px;
    margin-left: 1.5vw;
}

.table .option-btn:hover{
    background-color: #EE7738;
    cursor: pointer;
}

.table .option-btn:active{
    background-color: #F59D2A;
    cursor: pointer;
}
